#######################################################################brew related

alias bup="sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; brew upgrade --cask; bcl; say data update mission complete"
alias bupfull="sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; brew upgrade --cask; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; bcl; sudo gem cleanup; say full data update mission complete"
alias bcu="b cu -a"
alias b="brew"
alias bi="brew install"
alias bu="brew uninstall --zap"
alias bs="brew search"
alias bl="brew list"
alias btree="brew deps --tree --installed"
alias bk="brew --cask"
alias bki="brew install --cask"
alias bkif="brew reinstall --cask"
alias bku="brew uninstall --cask --zap"
alias bkuf="brew cask uninstall --force"
alias bkl="brew list --cask"
alias brmall="brew list -1 | xargs brew rm --force"
alias bkrmall="brew cask list -1 | xargs brew cask rm --force"
alias bcl="brew cleanup --prune 10; brew cleanup "
alias bltree="brew deps --tree --installed"

#########################system level
alias rmr="sudo rm -r"
alias cpr="cp -r"
alias mvr="mv -r"
alias zipsp150="zip -r -s 150m zip.zip "
alias zipsp10="zip -r -s 10m zip.zip "
alias zippwdsp="~/akazsh/misc/zip_split_passwd.sh"
alias zippwdsp50="~/akazsh/misc/zip_split_passwd50.sh"
alias zippwdsp150="~/akazsh/misc/zip_split_passwd150.sh"
alias p="pwd"
alias k="eza --long --tree -abghHS -s modified --icons --color always --color-scale"
alias l="eza --long -abghHS -s modified --icons --color always --color-scale"
alias o="open ."
alias x="exit"
alias v="nvim"
alias zadd="zoxide add $(pwd)"
alias resetnvim="~/akazsh/misc/resetnvim.sh"
alias zippwd="zip -e zip.zip"
alias tmn="tmux new -s akaboxsession"
alias tmn1="tmux new -s akaboxbgservice"
alias tma="tmux attach -t akaboxsession"
alias tma1="tmux attach -t akaboxbgservice"
alias tmu="tmux kill-session -t akaboxsession"
alias tmu1="tmux kill-session -t akaboxbgservice"
alias tmls="tmux list-session"
alias mc='LANG=en_EN.UTF-8 mc'
alias m='micro'
alias s='subl'
alias h='btop'
alias a='glances'
alias hs='sudo htop'
alias du='ncdu -2 -x -e --exclude .git --color dark'
alias df='duf'
alias c='bat'
alias ping='prettyping'
alias mksnapshot='tmutil snapshot'
alias lssnapshot='tmutil listlocalsnapshots /Volumes'
alias t='lazygit'
alias gaac='git add --all; git commit -m'
alias gsiu='git submodule init && git submodule update'

alias kra='open -na "GitKraken" --args -p $(pwd) $(pwd)'
alias changename="~/akazsh/misc/changename.sh"

alias chx='sudo chmod +x'

############################### docker
alias d="docker"
alias dps="docker ps -al"
alias di="docker image"
alias dv="docker volume"
# alias dirmall="docker rmi -f $(docker images -a -q) || $(docker images -a -q)"
alias dirmall="~/akazsh/misc/dockercommands/dirmall.sh"
# alias direset="docker system prune -f"
alias drmall="~/akazsh/misc/dockercommands/drmall.sh"
alias dreset="~/akazsh/misc/dockercommands/dreset.sh"
alias dkill="~/akazsh/misc/dockercommands/dkill.sh"

############################################## conda
alias con="conda"
alias conup="conda activate"
alias condn="conda deactivate"
alias conls="conda env list"
alias conrm="conda remove --all -y --name"
alias concr="conda create -y python=3.11 --name"
alias conupdate="conda update --all -y"

################################## ollama
alias olserve="sudo systemctl stop ollama.service;env OLLAMA_HOST=0.0.0.0:11434 ollama serve"
# alias olup="sudo systemctl start ollama.service;ollama run mistral"
alias olup="unameOut=\"\$(uname -s)\"; if [ \"\${unameOut:0:5}\" = Linux ]; then sudo systemctl start ollama.service; ollama run openhermes; elif [ \"\${unameOut:0:6}\" = Darwin ]; then ollama run openhermes; fi"
alias oldn="unameOut=\"\$(uname -s)\"; if [ \"\${unameOut:0:5}\" = Linux ]; then sudo systemctl stop ollama.service; elif [ \"\${unameOut:0:6}\" = Darwin ]; then osascript -e 'tell app \"Ollama\" to quit';  fi"
alias olls="ollama ls"
######################################### terraform 
alias tfaf="terraform apply -auto-approve"

#################################applications and linux
alias n="npm"
alias ni="npm install"
alias nif="npm install --force"
alias ncl="find . -name "node_modules" -type d -prune -exec rm -rf '{}' +; find . -name "package-lock.json" -type f -prune -exec rm -rf '{}' + "
alias ns="npm start"
alias iftop="sudo /usr/local/Cellar/iftop/1.0pre4/sbin/./iftop"
alias parallels="sudo -b /Applications/Parallels\ Desktop.app/Contents/MacOS/prl_client_app"

alias ai="sudo apt-get install"
alias aup="sudo apt-get update; sudo apt-get upgrade"
alias au="sudo apt-get remove"
alias aupfull="sudo apt-get dist-upgrade"

################################################### local navi
alias doc="cd ~/Documents"
alias dd="cd ~/Desktop"
alias dl="cd ~/Downloads"

###################################################### reverse ssh 
alias sshrev_to_avcstripe="ssh -R 4869:localhost:22 avcstripe"
alias sshrev_connect="ssh akatsuki@localhost -p 4869"

alias proxy='export ALL_PROXY=socks5://127.0.0.1:8080'
alias unproxy='unset ALL_PROXY'

################################### system navi

# alias sshaaltohtml="ssh -L 8080:wwwproxy.hut.fi:80 liux2@kosh.aalto.fi"
# alias sshaaltoall="ssh -D8080 liux2@kosh.aalto.fi"
# alias shadowvpnserver="/Users/akatsuki/akazsh/shadowsocks/shadowsocks-server"
# alias v2rayvpnclient=" networksetup -switchtolocation tunnel; v2ray -config=/Users/akatsuki/akazsh/v2raybin/configclient.json;"
# alias v2rayvpnserver="v2ray -config=/Users/akatsuki/akazsh/v2raybin/configserver.json"
alias netswauto="networksetup -switchtolocation automatic"
alias netswtunnel="networksetup -switchtolocation tunnel"

alias ise="ionic serve"
alias ira="ionic capacitor run android -l --external"
alias iba="ionic capacitor build android"
alias ibfull="npm install;ionic build;ionic capacitor build android"
alias icl="find . -name "node_modules" -type d -prune -exec rm -rf '{}' +;rm -rf android;rm -rf www;rm -rf package-lock.json"

alias ws8000="ws -p 8000 --log.format logstalgia"
alias ws3000="ws -p 3000 --log.format logstalgia"
alias wspwd3000z="ws -p 3000 --log.format logstalgia --auth.user z --auth.pass z "
alias wspwd3000pass="ws -p 3000 --log.format logstalgia --auth.user akabox --auth.pass thisisapassword "
alias killremote="killall "Remote Desktop""
alias killntk="killall "NTKDaemon""

##alias creatersa="ssh-keygen -b 1024 -t rsa -f id_rsa -P """

# Recursively delete `.DS_Store` files
# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete;sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent';say data cleaning up complete"

eval $(thefuck --alias)
alias f="fuck"

# Airport CLI alias
alias airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport'
alias airscan='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport -s'

#code sign
alias codesign='codesign --force --deep --sign - '

########################################################################################################################################
