<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.lucasoldaini.resolution</string>
	<key>connections</key>
	<dict>
		<key>244DC066-6817-424C-8FF4-948457B51908</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E75E88F-EC61-4B30-AF45-61D41D5AF551</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E75E88F-EC61-4B30-AF45-61D41D5AF551</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>328D3E83-B0D6-4C3E-95D6-D2D8057BE96D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45285074-739F-4E08-8285-007FFEB183E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E75E88F-EC61-4B30-AF45-61D41D5AF551</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F55BEC8-6647-46A9-A0BC-8027DFADA82C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E75E88F-EC61-4B30-AF45-61D41D5AF551</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B37CA9BC-A884-4623-86D3-EA120D487F9A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E75E88F-EC61-4B30-AF45-61D41D5AF551</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Luca Soldaini</string>
	<key>description</key>
	<string>Change the resolution of the display</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Change Resolution</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>328D3E83-B0D6-4C3E-95D6-D2D8057BE96D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)tell application "System Preferences"	reveal anchor "displaysDisplayTab" of pane "com.apple.preference.displays"end telltell application "System Events" to tell process "System Preferences" to tell window "Built-in Retina Display"	click radio button "display" of tab group 1	click radio button "Scaled" of radio group 1 of tab group 1	if (q is "f" or q is "F") then		click radio button 5 of radio group 1 of group 1 of tab group 1	else if (q is "b" or q is "B") then		click radio button 3 of radio group 1 of group 1 of tab group 1	else if (q is "h" or q is "H") then		click radio button 4 of radio group 1 of group 1 of tab group 1	else		return "No matching resolution!"	end ifend tellquit application "System Preferences"
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>3E75E88F-EC61-4B30-AF45-61D41D5AF551</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>res</string>
				<key>subtext</key>
				<string>B for WXGA+, H for WSXGA+, F for WUXGA</string>
				<key>text</key>
				<string>Switch resolution</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>244DC066-6817-424C-8FF4-948457B51908</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>b</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B37CA9BC-A884-4623-86D3-EA120D487F9A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>h</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>45285074-739F-4E08-8285-007FFEB183E3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>f</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7F55BEC8-6647-46A9-A0BC-8027DFADA82C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>244DC066-6817-424C-8FF4-948457B51908</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>328D3E83-B0D6-4C3E-95D6-D2D8057BE96D</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3E75E88F-EC61-4B30-AF45-61D41D5AF551</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>45285074-739F-4E08-8285-007FFEB183E3</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>7F55BEC8-6647-46A9-A0BC-8027DFADA82C</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>B37CA9BC-A884-4623-86D3-EA120D487F9A</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://lucasoldaini.it/</string>
</dict>
</plist>
